.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #f3f3f3;
  .login-form{
    width: 380px;
    padding: 36px;
    box-shadow: 0 0 100px rgba(0,0,0,.08);
    background: #fff;
    .login-logo{
      text-align: center;
      height: 42px;
      cursor: pointer;
      margin-bottom: 24px;
      >span {
        font-size: 20px;
        text-transform: uppercase;
        float:left;
      }
      button{
        float:right;
        margin-top:9px;
      }
    }
    form{
      .ant-form-item{
        margin-bottom:15px;
      }
      .ant-form-item:last-child{
        margin-bottom:0px;
      }
    }
  }
}